<!-- views/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a song</title>
  </head>
  <body>
    <%- include("../partials/nav.ejs") %>

    <h1>Add a song</h1>
    <form action="/songs" method="POST"></form>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Name" required />
    </div>

    <div>
      <label for="artist">Artist</label>
      <input
        type="text"
        name="artist"
        id="artist"
        placeholder="Artist"
        required
      />
    </div>

    <div>
      <label for="album">Album</label>
      <input type="text" name="album" id="album" placeholder="Album" />
    </div>

    <div>
      <label for="releaseYear">Release year</label>
      <input
        type="number"
        name="releaseYear"
        id="releaseYear"
        placeholder="Release year"
      />
    </div>

    <button type="submit">Add song</button>
  </body>
</html>
